USE [master]
GO
/****** Object:  Database [CenterManager]    Script Date: 12/6/2021 6:26:37 PM ******/
CREATE DATABASE [CenterManager]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CenterManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CenterManager]
GO
/****** Object:  Table [dbo].[class]    Script Date: 12/6/2021 6:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[class_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[subject_id] [nvarchar](50) NULL,
	[teacher_id] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[class_student]    Script Date: 12/6/2021 6:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class_student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [nvarchar](50) NULL,
	[class_id] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 12/6/2021 6:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[birthYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject]    Script Date: 12/6/2021 6:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subject_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 12/6/2021 6:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userLogin]    Script Date: 12/6/2021 6:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userLogin](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[token] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[class] ON 

INSERT [dbo].[class] ([id], [class_id], [name], [subject_id], [teacher_id]) VALUES (1, N'180502', N'Chuyên đề N1', N'01', N'001')
INSERT [dbo].[class] ([id], [class_id], [name], [subject_id], [teacher_id]) VALUES (2, N'180503', N'Phân tích N1', N'02', N'002')
INSERT [dbo].[class] ([id], [class_id], [name], [subject_id], [teacher_id]) VALUES (3, N'180504', N'Thiết kế N1', N'03', N'003')
SET IDENTITY_INSERT [dbo].[class] OFF
GO
SET IDENTITY_INSERT [dbo].[class_student] ON 

INSERT [dbo].[class_student] ([id], [student_id], [class_id]) VALUES (1, N'51800022', N'180502')
INSERT [dbo].[class_student] ([id], [student_id], [class_id]) VALUES (2, N'51800123', N'180502')
INSERT [dbo].[class_student] ([id], [student_id], [class_id]) VALUES (3, N'51800015', N'180502')
SET IDENTITY_INSERT [dbo].[class_student] OFF
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([id], [student_id], [name], [birthYear]) VALUES (1, N'51800022', N'Phạm Hồng Hải Đăng', 2000)
INSERT [dbo].[student] ([id], [student_id], [name], [birthYear]) VALUES (2, N'51800123', N'Nguyễn Xuân Thịnh', 2000)
INSERT [dbo].[student] ([id], [student_id], [name], [birthYear]) VALUES (3, N'51800015', N'Lê Thanh Bình', 2000)
SET IDENTITY_INSERT [dbo].[student] OFF
GO
SET IDENTITY_INSERT [dbo].[subject] ON 

INSERT [dbo].[subject] ([id], [subject_id], [name]) VALUES (1, N'01', N'Chuyên đề')
INSERT [dbo].[subject] ([id], [subject_id], [name]) VALUES (2, N'02', N'Phân tích')
INSERT [dbo].[subject] ([id], [subject_id], [name]) VALUES (3, N'03', N'Thiết kế')
SET IDENTITY_INSERT [dbo].[subject] OFF
GO
SET IDENTITY_INSERT [dbo].[teacher] ON 

INSERT [dbo].[teacher] ([id], [teacher_id], [name]) VALUES (1, N'001', N'Thầy Hồng')
INSERT [dbo].[teacher] ([id], [teacher_id], [name]) VALUES (2, N'002', N'Thầy Nhân')
INSERT [dbo].[teacher] ([id], [teacher_id], [name]) VALUES (3, N'003', N'Thầy Trung')
SET IDENTITY_INSERT [dbo].[teacher] OFF
GO
INSERT [dbo].[userLogin] ([username], [password], [token]) VALUES (N'admin', N'admin', N'83702028-507b-4725-b316-4a0471ffdeb9')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__class__FDF47987913994C8]    Script Date: 12/6/2021 6:26:38 PM ******/
ALTER TABLE [dbo].[class] ADD UNIQUE NONCLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__student__2A33069B8B5B3583]    Script Date: 12/6/2021 6:26:38 PM ******/
ALTER TABLE [dbo].[student] ADD UNIQUE NONCLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__subject__5004F661590EC165]    Script Date: 12/6/2021 6:26:38 PM ******/
ALTER TABLE [dbo].[subject] ADD UNIQUE NONCLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__teacher__03AE777FDE536795]    Script Date: 12/6/2021 6:26:38 PM ******/
ALTER TABLE [dbo].[teacher] ADD UNIQUE NONCLUSTERED 
(
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
