
<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center text-info text-uppercase"><strong>Center Manager</strong></h1>

    </div>
    <button id="Logout"> đăng suất</button>
    <!-- Học viên -->
    <div class="col-md-6 panel-body text-center">
        <div class="card table-bordered bg-info">
            <div class="card-body panel-group ">
                <h3 class="text-uppercase"><strong>Quản lý học viên</strong></h3>
                <p class="card-text">Hiện tại có <strong>105</strong> học viên</p>

                <a href="/Home/Student" class="btn btn-success">Xem danh sách</a>
            </div>
        </div>
    </div>

    <!-- Lớp học -->
    <div class="col-md-6 panel-body text-center">
        <div class="card table-bordered bg-info">
            <div class="card-body panel-group">
                <h3 class="text-uppercase"><strong>Quản lý lớp học</strong></h3>
                <p class="card-text">Hiện tại có <strong>14</strong> lớp học</p>

                <a href="/Home/Class" class="btn btn-success">Xem danh sách</a>
            </div>
        </div>
    </div>

    <!-- Môn học -->
    <div class="col-md-6 panel-body text-center">
        <div class="card table-bordered bg-info">
            <div class="card-body panel-group ">
                <h3 class="text-uppercase"><strong>Quản lý môn học</strong></h3>
                <p class="card-text">Hiện tại có <strong>7</strong> môn học</p>

                <a href="/Home/Subject" class="btn btn-success">Xem danh sách</a>
            </div>
        </div>
    </div>

    <!-- Giáo viên -->
    <div class="col-md-6 panel-body text-center">
        <div class="card table-bordered bg-info">
            <div class="card-body panel-group ">
                <h3 class="text-uppercase"><strong>Quản lý giáo viên</strong></h3>
                <p class="card-text">Hiện tại có <strong>10</strong> giáo viên</p>

                <a href="/Home/Teacher" class="btn btn-success">Xem danh sách</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/LoginRegis.js")"></script>
}