
@{
    ViewBag.Title = "Introduce";
}

<h2>Introduce</h2>
<div class="container">
    Đây là project sử dụng Restful api để tạo backend và jquery để frontend có thể lấy dữ liệu từ backend để đổ dữ liệu lên cho người dùng 
    
</div>
<a href="/Home/Login">đi đến trang đăng nhập</a>
