@{
    ViewBag.Title = "Student";
}
<div class="row">
    <div class="col-12">
        <h2 class="text-center text-success text-uppercase"><strong>Danh sách môn học</strong></h2>
        <!--Search bar-->
        <div class="text-center">
            <input id="searchInput" type="text" placeholder="Tìm học viên..." style="padding:5px">
            <button class="btn btn-success">Tìm</button>
        </div>

        <div class="text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateModal">
                Thêm học viên
            </button>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Id học viên </th>
                    <th>Tên học viên </th>
                    <th>Năm sinh </th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody id="bodyTable">
            </tbody>
        </table>
    </div>
    <!--Paging-->
    <div class="text-center">
        <ul id="paging" class="pagination">
            <!--use jquery to load data-->
        </ul>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>THÊM HỌC VIÊN</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Id học viên</label>
                        <input type="text" class="form-control" id="student_id" aria-describedby="emailHelp" placeholder="Nhập id học viên">
                    </div>
                    <div class="form-group">
                        <label>Tên học viên</label>
                        <input type="text" class="form-control" id="student_name" placeholder="nhập tên học viên">
                    </div>
                    <div class="form-group">
                        <label>Năm sinh học viên</label>
                        <input type="text" class="form-control" id="student_birthYear" placeholder="nhập năm sinh học viên">

                    </div>

                    <div id="edit-error"></div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="CreateStudent" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit dialog -->
<div class="modal fade" id="confirm-edit">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"><strong>Cập nhật học viên: </strong><strong id="student-to-edit"></strong></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <!--Form edit subject-->
                <div class="form-group">
                    <label for="edit-student-name">Tên học viên</label>
                    <input type="text" id="edit-student-name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="edit-student-year">Năm sinh học viên</label>
                    <input type="text" id="edit-student-year" class="form-control" />
                </div>

                <div id="edit-error"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-success" id="student-to-edit-input">Lưu</button>
            </div>
        </div>
    </div>
</div>



<!-- Delete dialog -->
<div class="modal fade" id="confirm-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Xóa học viên</strong></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                Bạn có chắc rằng muốn xóa học viên <strong id="student-to-delete"></strong>
            </div>
            <div id="delete-error"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="student-to-delete-input">Xóa</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="@Url.Content("~/Scripts/Student.js")"></script>
}

